torch>=2.8.0
transformers>=4.30.0

langchain>=1.0.3
langchain-google-genai>=3.0.1
langchain-community>=0.4.1
chromadb>=1.1.1

gradio>=5.49.0
requests>=2.32.5

guardrails-ai>=0.6.7

python-dotenv>=1.1.1
langsmith>=0.4.32


