torch>=2.8.0
transformers>=4.30.0

langchain>=1.0.3
langchain-community>=1.0.0
langchain-core>=1.1.0
chromadb>=1.2.0
langchain-google-genai>=3.1.0

gradio>=5.49.0
requests>=2.32.5

guardrails-ai==0.8.2

python-dotenv>=1.1.1
langsmith>=0.4.32


